/* VARIABLES */

:root
{
    --mainBlue: #040c89;
    --midBlue: #7b83c4;
    --lightBlue: #e5e7f3;
}

/* FONT FAMILIES */

.headline
{
    font-family: Helvetica, Arial, sans-serif;
}

.bodyCopy
{
    font-family: Helvetica, Arial, sans-serif;
}

.asideCopy
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BASIC RULES */

body
{
    margin: 0;
}

h1, h2, p, a
{
    color: var(--mainBlue);
}

h1
{
    font-size: 2.5em;
}

p
{
    font-size: 1.5em;
}

a
{
    font-size: 1.5em;
}

li
{
    list-style-type: none;
}

/* LAYOUTS */

.bgImage
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bgImage img
{
    width: 100%;
}

.cardGrid
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoCard
{
    display: flex;
    background-color: #00000080;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 20px;
    width: 25%;
}

/* NAVIGATION BAR */

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.navLogo
{
    height: 100px;
}

#brandSpace
{
    display: flex;
    flex-direction: row;
}

#brandTitle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brandTitleLine
{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

/* MAIN PAGE CONTENT */

main p, h1, h2
{
    margin: 25px 15%;
}

/* FOOTER STYLING */

footer
{
    background-color: #040c89;
}

footer p
{
    color: #fff;
}

footer a
{
    color: #fff;
}

.footGrid
{
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 25px 15%;
}

.footSocials
{
    display: flex;
    flex-direction: column;
}

#footLogo
{
    width: 150px;
}

.socialIcon
{
    width: 30px;
    margin: 20px;
}

.socialIcon:first-child
{
    margin-left: 0;
}

#footMap
{
    display: flex;
    justify-content: flex-start;
}

.footLink
{
    margin-left: 25px;
}

#footCors
{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#footCors p
{
    margin-top: 0;
}

#legalInfo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 15%;
}

#legalInfo p
{
    font-size: 1em;
}