/* VARIABLES */

:root
{
    --mainBlue: #040c89;
    --midBlue: #7b83c4;
    --lightBlue: #e5e7f3;
}

/* FONT FAMILIES */

.headline
{
    font-family: Helvetica, Arial, sans-serif;
}

/* BASIC RULES */

body
{
    margin: 0;
}

h1
{
    font-size: 2.5em;
    color: var(--mainBlue);
}

p
{
    font-size: 1.5em;
    color: var(--mainBlue);
}

/* LAYOUTS */

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.navLogo
{
    height: 100px;
}

#brandSpace
{
    display: flex;
    flex-direction: row;
}

#brandTitle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brandTitleLine
{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

main
{
    
}

main p, h1, h2
{
    margin: 25px 15%;
}

footer
{
    background-color: #040c89;
}

footer p
{
    color: #fff;
}