/* EXTERNAL FONT FILES */

@font-face {
    font-family: Lato-Heavy;
    src: url(./fonts/Lato-Heavy.ttf);
}

/* VARIABLES */

:root
{
    --mainBlue: #040c89;
    --midBlue: #7b83c4;
    --lightBlue: #e5e7f3;
}

/* FONT FAMILIES */

.headline
{
    font-family: Helvetica, Arial, sans-serif;
}

.bodyCopy
{
    font-family: Helvetica, Arial, sans-serif;
}

.asideCopy
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.latoHeavy
{
    font-family: Lato-Heavy, sans-serif;
}

/* BASIC RULES */

body
{
    margin: 0;
}

h1, h2, h3, h4, p, a
{
    color: var(--mainBlue);
}

h1
{
    font-size: 2.5em;
}

h2
{
    font-size: 4em;
}

h3
{
    font-size: 1.5em;
    color: #fff;
}

h4
{
    font-size: 1.75em;
    color: #fff;
}

p
{
    font-size: 1.5em;
}

a
{
    font-size: 1.5em;
}

ul
{
    padding-left: 0;

}

li
{
    list-style-type: none;
    padding-bottom: 5px;
}

/* LAYOUTS */

#hamburger
{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

#hamburger img
{
    width: 64px;
    height: 64px;
}

#burgerMenu
{
    position: fixed;
    top: 20px;
    right: 84px;
    z-index: 2;
    display: none;
    flex-direction: column;
    width: 240px;
    background-color: #040c89;
}

.burgerLink
{
    color: #fff;
    padding: 10px;
    align-self: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Lato-Heavy, sans-serif;
    font-size: 1.25em;
}

.burgerLink:hover
{
    color:var(--midBlue);
}

.bgImage
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}

.bgImage img
{
    width: 100%;
}

.bgContent
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.bgHeader
{
    backdrop-filter: blur(10px);
    background-color: #00000080;
    width: 70%;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 24px;
}

.cardGrid
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.infoCard
{
    display: flex;
    flex-direction: column;
    background-color: #00000080;
    backdrop-filter: blur(10px);
    padding: 20px;
    border: var(--lightBlue) solid 1px;
    margin: 20px;
    width: 100%;
    height: 350px;
    color: #fff;
    border-radius: 24px;
}

.infoCard:first-child
{
    margin-left: 0;
}

.infoCard:last-child
{
    margin-right: 0;
}

.infoCard p
{
    color: #fff;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25em;
}

.infoCard h3
{
    font-size: 6em;
    align-self: flex-end;
    margin: 0;
    color: #fff;
}

.infoCard h4
{
    margin: 5px 5px;
    color: #fff;
}

/* NAVIGATION BAR */

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.navLink
{
    text-decoration: none;
    font-family: Lato-Heavy, sans-serif;
    font-size: 1.25em;
    letter-spacing: 2px;
    padding: 10px 15px;
}

.navLink:hover
{
    color: #7b83c4;
    border-top: #040c89 solid 3px;
    border-bottom: #00000000 solid 3px;
}

.navLogo
{
    height: 100px;
}

#brandSpace
{
    display: flex;
    flex-direction: row;
}

#brandTitle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brandTitleLine
{
    font-family: Lato-Heavy, sans-serif;
    font-size: 1.25em;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

}

/* MAIN PAGE CONTENT */

main p, h1, h2
{
    margin: 25px 15%;
}

.actionCall
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.actionCall a
{
    background-color: var(--mainBlue);
    color: #fff;
    padding: 20px;
    border-radius: 48px;
    margin: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.actionCall a:hover
{
    background-color: #e5e7f3;
    color: #040c89;
}

/* FOOTER STYLING */

footer
{
    background-color: #040c89;
}

footer p
{
    color: #fff;
}

footer a
{
    color: #fff;
}

.footGrid
{
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 25px 15%;
}

.footSocials
{
    display: flex;
    flex-direction: column;
}

#footLogo
{
    width: 150px;
}

.socialIcon
{
    width: 30px;
    margin: 20px;
}

.socialIcon:first-child
{
    margin-left: 0;
}

#footMap
{
    display: flex;
    justify-content: flex-start;
}

.footLink
{
    margin-left: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
}

.footLink:hover
{
    color: #e5e7f3;
}

#footCors
{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#footCors p
{
    margin-top: 0;
}

#legalInfo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 15% 0px 15%;
}

#legalInfo p
{
    font-size: 1em;
}

/* MEDIA QUERIES */
@media screen and (max-width:1306px)
{
    #footCors p
    {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1283px)
{
    .infoCard
    {
        height: 275px;
    }

    .infoCard h3
    {
        font-size: 4em;
    }

    .infoCard h4
    {
        font-size: 1.5em;
    }

    .infoCard p
    {
        font-size: 1em;
    }

    .footLink
    {
        font-size: 1em;
    }
}

@media screen and (max-width: 1145px)
{
    .bgHeader
    {
        margin-top: 60px;
    }

    .infoCard
    {
        height: 250px;
    }

    .infoCard h3
    {
        font-size: 3.25em;
    }

    .infoCard h4
    {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1089px)
{
    .bgHeader h2
    {
        font-size: 3em;
    }

    .infoCard
    {   
        height: 215px;
    }

    .infoCard p
    {
        font-size: 0.75em;
    }

    #footCors p
    {
        font-size: 1em;
    }

    .footLink
    {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 897px)
{
    .navLink
    {
        font-size: 0.75em;
    }

    .brandTitleLine
    {
        font-size: 0.75em;
    }

    main p, h1, h2
    {
        margin: 25px 5%;
    }

    .bgHeader
    {
        margin-top: 40px;
        margin-bottom: 5px;
        width: 95%;
    }

    .cardGrid
    {
        width: 95%;
    }

    .infoCard
    {
        height: 145px;
        padding-top: 10px;
        margin: 5px;
        margin-top: 0;
    }

    .infoCard h3
    {
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .infoCard h4
    {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .infoCard p
    {
        font-size: 0.7em;
    }

    .footGrid
    {
        margin: 25px 5%;
    }

    .footLink
    {
        font-size: 0.735em;
    }

    #legalInfo
    {
        margin: 25px 5% 0px 5%;
    }
}

@media screen and (max-width: 768px)
{
    .bgHeader
    {
        margin-top: -30px;
    }

    .bgHeader h2
    {
        font-size: 2em;
    }

    .bgHeader p
    {
        font-size: 1em;
    }

    .infoCard
    {
        height: 170px;
    }
}

@media screen and (max-width: 618px)
{
    .navLink
    {
        display: none;
    }

    .bgImage
    {
        background-color: #040c89;
    }

    .bgImage img
    {
        display: none;
    }

    .bgContent
    {
        position: relative;
    }

    .bgHeader
    {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .bgHeader h2
    {
        align-self: center;
        margin-bottom: 0;
    }

    .bgHeader p
    {
        text-align: center;
    }

    .cardGrid
    {
        flex-direction: column;
        width: 90%;
    }

    .infoCard:first-child
    {
        margin-left: 5px;
    }

    .infoCard:last-child
    {
        margin-right: 5px;
    }

    .infoCard h3
    {
        display: none;
        align-self: center;
        font-size: 3em;
    }

    .infoCard h4
    {
        align-self: center;
        font-size: 3em;
    }

    .infoCard p
    {
        font-size: 1.25em;
    }

    #hamburger
    {
        display: block;
    }

    .footGrid
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .footSocials
    {
        justify-self: center;
        flex-direction: row;
    }

    #socialLinks
    {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    #footMap
    {
        display: none;
    }

    #footCors
    {
        justify-self: center;
    }

    #footCors p
    {
        font-size: 1.5em;
    }

    #legalInfo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #address
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 509px)
{
    h1
    {
        font-size: 1.75em;
    }

    p
    {
        font-size: 1em;
    }

    #hamburger img
    {
        width: 48px;
        height: 48px;
    }

    #burgerMenu
    {
        right: 68px;
    }

    .infoCard h4
    {
        font-size: 2em;
    }

    .infoCard p
    {
        font-size: 1em;
    }

    #footLogo
    {
        width: 75px;
        height: 75px;
    }

    .socialIcon
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    #footCors p
    {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px)
{
    .infoCard
    {
        width: 95%;
    }

    .actionCall a
    {
        font-size: 1em;
    }
}